server:
  port: 8080

spring:
  application:
    name: teat-backend
  datasource:
    url: postgresql://db.umptwgohdposuitywdyg.supabase.co:5432/postgres?user=postgres&password=HVY2myobBXkqQ5Ps
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html